   <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/robwinters">github.com/robwinters</a><br />
                <a href="https://twitter.com/robwinters">twitter.com/robwinters</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
